<section class="eleven columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Graduate Student, PhD</h1>
            <span><address>Goldsmiths, University of London</address><time>2015 to present</time></span>
        </header>
        <p>I recently completed a doctoral degree researching the experiences of ukulele players in online and offline communities. The project required me to single-handedly recruit, interview, and manage ongoing working relationships with 26 participants, many of whom struggled with self-esteem and impostor syndrome around their music-making, needing me to respond sensitively and non-judgmentally at all times. It also involved processing and analysing large quantities of interview and survey data, making sure I kept the data I collected well-documented and organised, and keeping up to date with research and scholarship, much of which was from the fields of psychology and psychotherapy.</p>
    </article>
    <article>
        <header>
            <h1>MA in Music (Popular Music Research) (Distinction)</h1>
            <span>Goldsmiths, University of London</span>
            <span><address>London, UK</address><time>2011 to 2012</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Bachelor of Arts in Music (2:1)</h1>
            <span>University of Cambridge</span>
            <span><address>Cambridge, UK</address><time>2008 to 2011</time></span>
        </header>
    
    </article>
</section>
