<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MA in Music (Popular Music Research) (Distinction)</h1>
            <span>Goldsmiths, University of London</span>
            <span><address>London, UK</address><time>2011 to 2012</time></span>
        </header>
        <p>
            <em>Thesis: ‘Being a Woman, Being a Woman’: Gendered Criticism of Joanna Newsom</em>
            <br/><br/><em>Research paper: Is the time we spend on music justifiable in ethical, social and economic terms?</em>
            <br/><br/><em>Literature Review: Cultural significance of the C86/Indiepop scene from 1986 to the present day</em>
            <br/><br/><em>Research paper: With reference to specific theorists and musicians, assess the critical treatment of postfeminism.</em>
            <br/><br/><em>Research paper: Representation of the Ukulele in Western Popular Culture</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Arts in Music (2:1)</h1>
            <span>University of Cambridge</span>
            <span><address>Cambridge, UK</address><time>2008 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: 'Well, who am I?': Constructions of identity in the music of Neil Hannon.</em></p>
            <p><em>Dissertation: Out of the Wilderness: an enquiry into the redirection of contemporary music through the synthesis created by John Coolidge Adams</em></p>
            <p><em>Analysis portfolio: Steve Reich and Beryl Korot's 'Three Tales'/William Walton's 'Facade'</em>
        </p>
    </article>
</section>
