<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Graduate Researcher</h1>
            <span><address>Goldsmiths, University of London</address><time>2015 to present</time></span>
        </header>
        <p>I am a PhD student in the Music department at Goldsmiths University of London. My doctoral research is centred around articulations of marginalised identity amongst ukulele players, both alone and in a group/community context, and will draw particularly from intersectional theory, taking into account overlapping issues of identity including gender, race, class, sexuality and dis/ability. My research is funded by the CHASE consortium.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Kings College London</address><time>2015 to 2016</time></span>
        </header>
        <p>I taught two weekly seminar groups for the first-year music course's core module, Disco Cultures, as well as double-marking eventual assessments. Tne experience was amazingly rewarding and I am extremely keen to teach at a university level in the future.</p>
    </article>
    <article>
        <header>
            <h1>Workshop Assistant</h1>
            <span><address>School of Noise, London</address><time>2014 to present</time></span>
        </header>
        <p>I assist with children's workshops in experimental and electronic music, based in various locations around London.</p>
    </article>
</section>
