<section class="eleven columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Graduate Teaching Assistant</h1>
            <span><address>Kings College London</address><time>2015 to 2017</time></span>
        </header>
        <p>I taught weekly seminar groups for the first-year music course's core Issues and Topics module, Disco Cultures, for two years running, preparing revision materials, leading discussion sessions and elaborating upon topics taught in lectures. I also set and marked mock exams, and double-marked coursework essays.</p>
    </article>
    <article>
        <header>
            <h1>Workshop Assistant</h1>
            <span><address>School of Noise</address><time>2014 to present</time></span>
        </header>
        <p>
    I work on an occasional, ad-hoc basis for School of Noise, an organisation running workshops for young people and adults aimed at encouraging the exploration of experimental, electronic sound and music.</p>
    </article>
    <article>
        <header>
            <h1>Independent Musician</h1>
            <span><address>Freelance, London</address><time>2012 to present</time></span>
        </header>
        <p>I have played various keyboard instruments, including synthesiser, harmonium and piano, in live and recorded session contexts for multiple musicians, including Darren Hayman (formerly of Hefner), Pete Astor (formerly of The Loft and the Weather Prophets), and Ian Button (formerly of Death In Vegas). I also make solo electronic music under the name Deerful.</p>
    </article>
    <article>
        <header>
            <h1>Web designer and front-end developer</h1>
            <span><address>Freelance, London</address><time>2013 to 2015</time></span>
        </header>
        <p>While seeking PhD funding I ran a successful small business as a primarily self-taught web designer and front-end developer.</p>
    </article>
</section>
