<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Kings College London</address><time>2015 to 2016</time></span>
        </header>
        <p>I work on an occasional, ad-hoc basis for School of Noise, an organisation running workshops for young people and adults aimed at encouraging the exploration of experimental, electronic sound and music.</p>
    </article>
    <article>
        <header>
            <h1>Assistant</h1>
            <span><address>School of Noise</address><time>2014 to present</time></span>
        </header>
        <p>I taught two weekly seminar groups for the first-year music course's core Issues and Topics module, Disco Cultures. Tne experience was amazingly rewarding and I am extremely keen to teach at a university level in the future.</p>
    </article>
    <article>
        <header>
            <h1>Independent Musician</h1>
            <span><address>Freelance, London</address><time>2012 to present</time></span>
        </header>
        <p>I play various keyboard instruments, including synthesiser, harmonium and piano, in a number of independent bands in both live and recorded session contexts. I also make solo electronic music under the name Deerful, and have forthcoming releases under this moniker on Where It's At Is Where You Are records. My songs have been played on Brighton's TotallyRadio and Amazing Radio.</p>
    </article>
    <article>
        <header>
            <h1>Web designer and front-end developer</h1>
            <span><address>Freelance, London</address><time>2013 to 2015</time></span>
        </header>
        <p>While seeking PhD funding I ran a successful small business as a primarily self-taught web designer and front-end developer.</p>
    </article>
</section>
