<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://emmawinston.co.uk"><i class="fa fa-home"></i></a>
      <p>Emma Winston - academic, artist and musician</p>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://emmawinston.me/projects/">PROJECTS</a></li>
        <li><a href="https://emmawinston.me/blog/">BLOG</a></li>
        <li><a href="https://emmawinston.me/cv">CV</a></li>
      </ul>
    </div>
  </div>
</nav>