<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Staying Still EP</h1>
            <span><address>Single, Gare Du Nord records</address><time>August 2016</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Moon Maps/Hush Me single</h1>
            <span><address>Single, Where It's At Is Where You Are records</address><time>April 2016</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>City Bells single</h1>
            <span><address>Single, self-released</address><time>December 2015</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
</section-->