<section class="eleven columns">
    <h1>Public Engagement</h1>
    <article>
        <header>
            <h1>Web interview - 'Emojis Are Art in This Twitter Bot ASCII Gallery' - Robert Barry</h1>
            <span><address>Vice Motherboard</address><time>16th February 2016</time> - <a href="http://motherboard.vice.com/read/tiny-gallery-emojis-are-art-in-this-twitter-bot-ascii-gallery">view</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Radio interview - 'These bots tweet their own artwork'</h1>
            <span><address>Canadian Broadcasting Company - Spark with Nora Young </address><time>6th March 2016</time> - <a href="http://www.cbc.ca/radio/spark/312-growth-and-the-start-up-economy-twitter-bot-art-and-more-1.3471294/these-bots-tweet-their-own-artwork-1.3471507">view</a></span>
        </header>
        <p></p>
    </article>
</section>
