<section class="eleven columns">
    <h1>Public Engagement</h1>
    <article>
        <header>
            <h1>Web article - 'MusicMakers001: Deerful' - Jamie Halliday</h1>
            <span><address>Adafruit</address><time>4th December 2017</time> <a href="https://blog.adafruit.com/2017/12/04/musicmakers001-deerful/">view</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Web article - 'Deerful, aka Emma Winston, is a singer-songwriter gone mobile tech' - Peter Kirn</h1>
            <span><address>Create Digital Music</address><time>28th September 2017</time> <a href="http://cdm.link/2017/09/deerful-aka-emma-winston-is-a-singer-songwriter-gone-mobile-tech/">view</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Radio interview - 'Little Trouble Girls' - Marie Merlet</h1>
            <span><address>Soho Radio</address><time>19th November 2016</time> <a href="https://www.mixcloud.com/sohoradio/little-trouble-girls-19112016/">hear</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Live radio performance - 'HelloGoodbye Show' - DeXter Bentley</h1>
            <span><address>Resonance FM</address><time>19th November 2016</time> <a href="https://hellogoodbyeshow.com/2016/11/13/hello-goodbye-info-19-11-16-ft-yama-warashi-deerful/">hear</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Live-performed audiovisual installation - Graphic Score Bot</h1>
            <span><address><a href="http://www.andfestival.org.uk/events/emma-winston-graphic-score-bot/">The Art of Bots, Somerset House</a></address><time>15th-16th April 2016</time> - <a href="https://soundcloud.com/deerful/graphicscorebot-improvisation">hear</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Live presentation - 'Performance of @GraphicScoreBot', Victoria and Albert Museum</h1>
            <span><address><a href="https://shop.vam.ac.uk/whatson/index/view/id/1980/event/Bot-Summit-2016/dt/2016-04-09/eType/1/free/2">Bot Summit 2016</a></address><time>9th April 2016</time> - <a href="https://youtu.be/KTPih7D0Jhg?t=2h23m">view</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Web interview - 'Emojis Are Art in This Twitter Bot ASCII Gallery' - Robert Barry</h1>
            <span><address>Vice Motherboard</address><time>16th February 2016</time> - <a href="http://motherboard.vice.com/read/tiny-gallery-emojis-are-art-in-this-twitter-bot-ascii-gallery">view</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Radio interview - 'These bots tweet their own artwork'</h1>
            <span><address>Canadian Broadcasting Company - Spark with Nora Young </address><time>6th March 2016</time> - <a href="http://www.cbc.ca/radio/spark/312-growth-and-the-start-up-economy-twitter-bot-art-and-more-1.3471294/these-bots-tweet-their-own-artwork-1.3471507">view</a></span>
        </header>
        <p></p>
    </article>
</section>
