<section class="eleven columns">
    <h1>Public Engagement</h1>
    <article>
        <header>
            <h1>Web interview - 'First Listen: Deerful – Home EP (With Interview)' - Caspar Jacobs</h1>
            <span><address>Beautiful Freaks</address><time>13th October 2016</time> - <a href="http://beautifulfreaks.co.uk/features/2016/10/first-listen-deerful-home-ep-with-interview/">view</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Live-performed audiovisual installation - Graphic Score Bot</h1>
            <span><address><a href="http://www.andfestival.org.uk/events/emma-winston-graphic-score-bot/">The Art of Bots, Somerset House</a></address><time>15th-16th April 2016</time> - <a href="https://soundcloud.com/deerful/graphicscorebot-improvisation">hear</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Live presentation - 'Performance of @GraphicScoreBot', Victoria and Albert Museum</h1>
            <span><address><a href="https://shop.vam.ac.uk/whatson/index/view/id/1980/event/Bot-Summit-2016/dt/2016-04-09/eType/1/free/2">Bot Summit 2016</a></address><time>9th April 2016</time> - <a href="https://youtu.be/KTPih7D0Jhg?t=2h23m">view</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Web interview - 'Bots for Beginners' - Sarah Blaszczok</h1>
            <span><address>Abandon Normal Devices</address><time>6th April 2016</time> - <a href="http://www.andfestival.org.uk/blog/bots-for-beginners-emma-winston/">view</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Web interview - 'Emojis Are Art in This Twitter Bot ASCII Gallery' - Robert Barry</h1>
            <span><address>Vice Motherboard</address><time>16th February 2016</time> - <a href="http://motherboard.vice.com/read/tiny-gallery-emojis-are-art-in-this-twitter-bot-ascii-gallery">view</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Radio interview - 'These bots tweet their own artwork'</h1>
            <span><address>Canadian Broadcasting Company - Spark with Nora Young </address><time>6th March 2016</time> - <a href="http://www.cbc.ca/radio/spark/312-growth-and-the-start-up-economy-twitter-bot-art-and-more-1.3471294/these-bots-tweet-their-own-artwork-1.3471507">view</a></span>
        </header>
        <p></p>
    </article>
</section>
