<section class="eleven columns">
    <h1>Music and sound</h1>
    <article>
        <header>
            <h1>Deerful</h1>
            <span><address>Solo project</address><time>2015 to present</time></span>
        </header>
        <p>
           I write, produce and perform synth-pop under the name Deerful. I self-released a sellout Christmas single towards the end of 2015, and will release a single (<em>Moon Maps/Hush Me</em>) and EP (<em>Staying Still</em>) on independent labels Where It's At Is Where You Are and Gare Du Nord later this year.
        </p>
    </article>
    <article>
        <header>
            <h1>Independent sound work</h1>
            <span><address>Solo project</address><time>2015 to present</time></span>
        </header>
        <p>
        I create and self-release audio collages using found sounds in various locations as abstract documents of spaces, places and events. In January 2016 I also produced and released the EP <em>Browser Pieces</em>, using only web browser-based synthesisers, in a single evening.
        </p>
    </article>
    <article>
        <header>
            <h1>Cities and Memory - Dada Sounds</h1>
            <span><address>Solo project</address><time>February 2016</time></span>
        </header>
        <p>
       Cities and Memory is a global field recording &amp; sound art work that presents both the present reality of a place, but also its imagined, alternative counterpart. I contributed a vocal and sample-based work using sound poetry methods, titled 'Ssa-ha-la', to their Dada Sounds project, marking a century of Dadaism, which will be published on the Cities and Memory website later this year.
    </article>
    
</section>