<section class="eleven columns">
    <h1>Original music and sound</h1>
    <article>
        <header>
            <h1>Deerful</h1>
            <span><address>Solo</address><time>2015 to present</time> - <a href="https://deerful.com">view</a></span>
        </header>
        <p>
           I write, produce and perform synth-pop under the name Deerful. I have released two singles and two EPs on independent labels Where It's At Is Where You Are and Gare Du Nord, and will release an album in the spring/summer of 2017. I also maintain a YouTube channel with a small following focused upon songwriting, production, and live performance.
        </p>
    </article>
    <article>
        <header>
            <h1>Production music</h1>
            <span><address>Solo/co-writer</address><time>2017 to present</time></span>
        </header>
        <p>
        I contributed the electropop track 'Break' to major UK charity Centrepoint's digital campaign <a href="http://metro.co.uk/2017/02/15/video-shows-the-heartbreaking-choices-homeless-people-face-every-day-6450902/?ito=facebook">'Young and Homeless: Your Phone Tells The Story', which received coverage in the Metro</a>.</p>

        <p>I also contributed the tracks 'Strength In A Storm', 'A Hopeful Moment', 'A Spark of Joy', 'Early Riser', and 'Teatime Shuffle', co-written and co-produced with Donal Scott, to the Clearwave production library's album <a href="http://www.clearwavemusic.com/music/cwm0057-simply-ukueles">*Simply Ukuleles*</a>, using my knowledge of the advertising market for ukulele music gained from my thesis work.</p>

        </p>
    </article>
    <article>
        <header>
            <h1>Independent sound work</h1>
            <span><address>Solo</address><time>2015 to present</time> - <a href="http://deerful.audio">view</a></span>
        </header>
        <p>
        I create and self-release audio collages using found sounds in various locations as abstract documents of spaces, places and events. In January 2016 I also produced and released the EP <em>Browser Pieces</em>, using only web browser-based synthesisers, in a single evening.
        </p>
    </article>

    
</section>