<section class="eleven columns">
    <h1>Original music and sound</h1>
    <article>
        <header>
            <h1>Deerful</h1>
            <span><address>Solo</address><time>2015 to present</time> - <a href="https://deerful.com">view</a></span>
        </header>
        <p>
           I write, produce and perform electropop under the name Deerful. I have released two singles and two EPs on independent labels Where It's At Is Where You Are and Gare Du Nord, and released an album, <i>Peach</i> in the spring/summer of 2017, which received praise from the Guardian and Clash Music, amongst others. I also maintain a YouTube channel with a small following focused upon songwriting, production, and live performance.
        </p>
    </article>
    <article>
        <header>
            <h1>Production music</h1>
            <span><address>Solo/co-writer</address><time>2017 to present</time></span>
        </header>
        <p>
        I contributed the electropop track 'Break' to major UK charity Centrepoint's digital campaign <a href="https://www.youtube.com/watch?v=0epwLTzFgJg">'Young and Homeless: Your Phone Tells The Story'</a>, which received <a href="http://metro.co.uk/2017/02/15/video-shows-the-heartbreaking-choices-homeless-people-face-every-day-6450902/?ito=facebook">coverage in the Metro</a>. I have also contributed full albums and individual tracks of bubblegum pop, chiptune and ukulele music to the Ravenwood Music and Clearwave music production libraries.</p>
        </p>
    </article>
    <article>
        <header>
            <h1>Independent sound work</h1>
            <span><address>Solo</address><time>2015 to present</time> - <a href="http://deerful.audio">view</a></span>
        </header>
        <p>
        I create and self-release audio collages using found sounds in various locations as abstract documents of spaces, places and events. In January 2016 I also produced and released the EP <em>Browser Pieces</em>, using only web browser-based synthesisers, in a single evening. I also dabble in live-coding in Supercollider and ChucK.
        </p>
    </article>

    
</section>