<section class="thirteen columns">
    <h1>Other projects</h1>
    <article>
        <header>
            <h1>Cat Simulator 3000</h1>
            <span><address>Game</address><time>November 2015</time></span>
        </header>
        <p>
            A lighthearted interactive fiction game, written and coded using the Twine engine over the course of a weekend. Named one of Rock Paper Shotgun's <a href="http://www.rockpapershotgun.com/2015/12/12/best-free-games-of-the-week-7/">'Best free Games of the week'</a>.
        </p>
    </article>
    <article>
        <header>
            <h1>Random Tone Generator</h1>
            <span><address>Web app</address><time>August 2015</time> - <a href="http://emmawinston.co.uk/random-tone-generator">view</a>/<a href="https://github.com/emmawinston/random-tone-generator">code</a></span>
        </header>
        <p>
            A simple random tone generator written in Javascript and using the WAD audio library. Intended as a a simplistic oscillator to be run through effects pedals, sampled and otherwise manipulated. 
        </p>
    </article>
    <article>
        <header>
            <h1>Twitter bots</h1>
            <span><time>Ongoing</time> - <a href="https://twitter.com/deer_ful/lists/deerful-s-friendly-bots">view</a></span>
        </header>
        <p>
            A series of bots using the Twitter framework to automate humorous or artistic content, programmatically generated in Tracery or Python.
        </p>
    </article>
</section>