<section class="eleven columns">
    <h1>Presentations</h1>
    <article>
        <header>
            <h1>Bitter Content: YouTube, the ukulele, and the smokescreen of participatory commodification</h1>
            <span><address></address><time>Forthcoming</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Intersectional Gentleness in Early-Stage Fieldwork</h1>
            <span><address>CHASE Music Network</address><time>30th June 2016</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Don't Make Me Go Outside: Feminine melancholy, recovery, and rejecting resilience through electronic music</h1>
            <span><address>S.E.E. - Sound Education Experience</address><time>16th June 2016</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>A Declaration of Openness: intersectionality, idealism, and the politics of gentleness in early-stage research</h1>
            <span><address>European Doctoral Seminar - Situations of Knowing </address><time>25th-26th February 2016</time></span>
        </header>
        <p></p>
    </article>
</section>
