<section class="eleven columns">
    <h1>Presentations</h1>
    <article>
        <header>
            <h1>Pathways, Desire Lines (interactive video game presentation)</h1>
            <span><address>CHASE Encounters </address><time>2021</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>These Uncertain Times: grassroots ethnography during the COVID-19 pandemic</h1>
            <span><address>CHASE Encounters</address><time>2020</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Tell Me I Can Fix This On My Own: creative coding as a non-programmer</h1>
            <span><address>Dorkbot London</address><time>2019</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Bitter Content: YouTube, the ukulele, and the smokescreen of participatory commodification</h1>
            <span><address></address><time>2019</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Intersectional Gentleness in Early-Stage Fieldwork</h1>
            <span><address>CHASE Music Network</address><time>30th June 2016</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Don't Make Me Go Outside: melancholy, recovery, and rejecting resilience</h1>
            <span><address>S.E.E. - Sound Education Experience</address><time>16th June 2016</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>A Declaration of Openness: intersectionality, idealism, and the politics of gentleness in early-stage research</h1>
            <span><address>European Doctoral Seminar - Situations of Knowing </address><time>25th-26th February 2016</time></span>
        </header>
        <p></p>
    </article>
</section>
