<section class="eleven columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Beats to Relax/Study To: Contradiction and Paradox in Lofi Hip Hop</h1>
            <span><address>IASPM Journal</address><time>2019</time> - <a href="https://iaspmjournal.net/index.php/IASPM_Journal/article/view/949">view (open access)</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Nightcore and the Virtues of Virtuality</h1>
            <span><address>CHASE Brief Encounters</address><time>March 2017</time> - <a href="http://briefencounters-journal.co.uk/BE/article/view/20">view (open access)</a></span>
        </header>
        <p></p>
    </article>
</section>
