<section class="eleven columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Nightcore and the Virtues of Virtuality</h1>
            <span><address>CHASE Brief Encounters</address><time>March 2017</time> - <a href="http://briefencounters-journal.co.uk/BE/article/view/20">view (open access)</a></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Web article - 'Deerful: Peach'</h1>
            <span><address>Gold Flake Paint</address><time>2nd June 2017</time> <a href="https://www.goldflakepaint.co.uk/album-stream-deerful-peach/">view</a></span>
        </header>
        <p></p>
    </article>
</section>
